body {
    font-family: "Roboto", sans-serif;
    color:#434455;
    background-color:#FFFFFF;
    }
    ul{
        margin-bottom: 0;
        margin-top: 0;
        padding-left: 0;
    }
    a {
    text-decoration: none;
    color: currentColor;
    }

p, h1, h2, h3, h4, h5, h6{
     margin-top:0;
     margin-bottom: 0;
}

    img{
        display: block;
        max-width: 100%;
        height: auto;
    }
 
    li{
    list-style-type: none;
    margin: 0;
    }
.container{
    max-width: 320px;
    padding:0; 
    margin: 0 auto; 
}
@media only screen and (min-width:768px){
    .container{
        max-width:768px;
        padding: 0 16px;    
    }
}
@media only screen and (min-width:1158px){
    .container{
    max-width: 1158px;
    padding:0 15px;  
    }
}

    /* ----------HEADER----------- */
    .header-menu,
    .adress-flex{
     display:none;
    } 
    .header-container{
        display: flex;
        justify-content: space-between;
    }
    .logo{
        color:#4D5AE5;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        padding-top: 16px;
        padding-bottom: 16px;
        
    }
    .logo .logo-word{
      color:#2E2F42;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.17;
      letter-spacing: 0.03em;
      
    }
    .open-mobile-menu-btn{
    width: 24px;
    height: 24px;
    cursor: pointer;
    border:none;  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:transparent;
    padding: 0;
    }
    .icon-mobile-menu{
    stroke:#2f2f37;
    }

    .logo .logo-word:hover{
    color: #404BBF;
    }

    @media only screen and (min-width:768px) {
      .logo{
        margin-right: 120px;
        
      } 
      .header-menu{
        display: flex;
        gap: 40px;
            }
    .header-nav-flex{
        align-items: center;   
        margin-right: auto;
        display: flex;
        }

       .adress-flex{
        display: flex;
        font-style:normal;
        flex-direction: column;
        padding-bottom: 16px;
        padding-top: 16px;        ;
        }
        .address .address-link{
            color:#434455;
            font-size: 12px;
            font-weight: 400;
            line-height: 1.17;
            letter-spacing: 0.04em;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .address .address-link:hover,
        .address .address-link:focus{
            color: #404BBF;
        }
        .header-container{
        border-bottom: 1px solid #E7E9FC;
        background-color: #FFF;
            
        }
        .header-navigation{
            border-bottom: 1px solid #E7E9FC;   
            box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);    
        }
        .navigation-item{
            padding: 24px 0;
        }

        .open-mobile-menu-btn{
        display: none;
        }
        .header-nav{
            color:#2E2F42;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.02em;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
             padding: 24px 0;  
             transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); }
    
            .header-nav:hover,
            .header-nav:focus {
            color: #404BBF;
    }
    .current::after{
        content: '';
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color:#404BBF;
        position: absolute;
        left: 0;
        bottom: -1px;
        }
        .current{
        position:relative;
        color: #404BBF;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
            }
    
    @media only screen and (min-width:1158px){
        .logo{
        margin-right: 76px;
          }  
        .header-nav{
        padding: 24px 0;  
              }
    
        .adress-flex{
        flex-direction: row;
        align-items: center;
        gap: 40px;
            }   
        .address .address-link{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;      
    }
}